{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    {# Jumbotron #}
    <div class="p-5 mb-4 bg-warning">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">{{ article.title }}</h1>
        </div>
    </div>

<div class="col-md-9 mx-auto my-5">
    <div class="container-md">
            <div class="row mb-5">
                <div class="col-12 col-md-4">
                    <img src="https://placehold.co/600x400" alt="{{ article.title }}" class="img-fluid">
                </div>
                <div class="col-12 col-md-8">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.content }}</p>
                    <p>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    <div class="d-flex align-items-center">
                        <a href="{{ path('app_comment_new', {'id' : article.id}) }}" class="me-3">Add a comment</a>
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="me-3">edit</a>
                        {{ include('article/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
